/**
 * Mixins
 */

// Editor mixin for shared styling between frontend and editor
@mixin editor {
    width: 100% !important;
       height: max-content;
    display: flex;
    justify-content: center;
    // make a darker layer for text contrast


 
  
}

@mixin content($size, $weight, $marginButton) {
    font-size: $size;
    font-weight: $weight;
    margin-bottom: $marginButton;
}

// Dynamic text color based on background contrast
@mixin dynamic-text-color {
    /* Using CSS custom properties set in PHP */
    color: var(--text-color, #000);
}
