
/**
 * Hero Block Component
 */
@use '../abstract/variables' as var;
@use '../abstract/mixins' as mixins;

@mixin cta($pt, $pr, $pb, $pl, $br, $decoration) {
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
    border-radius: $br;
    text-decoration: none;

}

